nav{
    display: block;
}
.title {
    font-size: 18pt;
    font-family: 'Carmen Sans Bold';
    text-decoration: none;
    color: #FF006A;
    display: inline;
}
.onglets {
    vertical-align: text-bottom;
    text-align: left;
    width: 100px;
    float: right;
}

.reseaux {
    float: left;
    display: grid;
    grid-template-columns: 30px;
    grid-template-rows: 50px 50px 50px;
    grid-row-gap: 50px;
}